eureka:
  client:
    service-url:
      defaultZone: http://localhost:10001/eureka/

server:
  port: 10003

spring:
  application:
    name: config-server
  #git
  cloud:
    config:
      server:
        git:
          uri: https://gitee.com/zqheng/microdemo2-config-server
          username: 761402260@qq.com
          password: zqh0117qwer!@#$
          timeout: 5
          default-label: master
